--- 
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { siteConfig } from '../config';

const { title: pageTitle, description = siteConfig.description } = Astro.props;
const title = pageTitle ? `${pageTitle} | ${siteConfig.title}` : siteConfig.title;
---

<!DOCTYPE html>
<html lang="pl" class="">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Theme Switcher Script -->
    <script is:inline>
        const theme = (() => {
            if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
                return localStorage.getItem("theme");
            }
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                return "dark";
            }
            return "light";
        })();

        if (theme === "light") {
            document.documentElement.classList.remove("dark");
        } else {
            document.documentElement.classList.add("dark");
        }
        window.localStorage.setItem("theme", theme);
    </script>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <!-- <meta property="og:image" content={Astro.site ? new URL(image, Astro.site) : image}> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    <!-- <meta property="twitter:image" content={Astro.site ? new URL(image, Astro.site) : image}> -->

    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
    </style>
</head>
<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 font-sans">
    <Header />
    <main class="container mx-auto px-4 py-8">
        <slot />
    </main>
    <Footer />
</body>
</html>